html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.produto-card {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #e0e0e0;
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: auto;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .produto-card {
        max-width: 33.33%;
    }
}

.card-title {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.card-text {
    max-height: 10px;
}

.error-page {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.error-message {
    font-size: 1.2em;
    color: #d9534f;
}

.titulo-aplicacao {
    color: red;
}


