@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h4 class="display-12">Bem vindo ao</h4>
    <h1 class="display-8 titulo-aplicacao">Controle de Produtos</h1>
</div>
